/*公共样式*/
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, "微软雅黑", "宋体", sans-serif;
    font-size: .2rem;
}
p,span{
    font-size: .2rem;
}
a{
    text-decoration: none;
    color: #337ab7;
}
li{
    list-style: none;
}
img{
    display: block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.bolck{
    display: block;
}
.mb20{
    margin-bottom: 20px;
}
.inline-block{
    display: inline-block;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.active{
    background: url("../images/nav_active.gif");
    color: #0e7ac0!important;
}